In [1]:
import pandas as pd

In [9]:
def readFile(filePath):
    file = pd.read_csv(filePath,encoding = "ISO-8859-1")
    print(file.shape)
    return file

In [3]:
path = "C:/Users/User/Desktop/SeniorProjectFile/raw_data/IMDB Dataset.csv"
x = readFile(path)

(50000, 2)

In [5]:
x.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [6]:
path = "C:/Users/User/Desktop/SeniorProjectFile/raw_data/imdb_data.csv"
y = readFile(path)

(25000, 2)

In [7]:
y.head()

                                                text  sentiment
0  For a movie that gets no respect there sure ar...          0
1  Bizarre horror movie filled with famous faces ...          0
2  A solid, if unremarkable film. Matthau, as Ein...          0
3  It's a strange feeling to sit alone in a theat...          0
4  You probably all already know this by now, but...          0

In [10]:
path = "C:/Users/User/Desktop/SeniorProjectFile/raw_data/imdb_master.csv"
z = readFile(path)

(100000, 5)

In [11]:
z.head()

,Unnamed: 0,type,review,label,file
0,0,test,Once again Mr. Costner has dragged out a movie...,neg,0_2.txt
1,1,test,This is an example of why the majority of acti...,neg,10000_4.txt
2,2,test,"First of all I hate those moronic rappers, who...",neg,10001_1.txt
3,3,test,Not even the Beatles could write songs everyon...,neg,10002_3.txt
4,4,test,Brass pictures (movies is not a fitting word f...,neg,10003_3.txt